@page
@model InternetClub.RazorPages.Pages.Services.IndexModel

@{
    var isRu = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru";
    ViewData["Title"] = isRu ? "Услуги" : "Services";
}

<h1>@(isRu ? "Услуги" : "Services")</h1>

<p>
    <a asp-page="Create">@(isRu ? "Добавить" : "Create")</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>@(isRu ? "Название" : "Title")</th>
        <th>@(isRu ? "Цена за минуту" : "Price per minute")</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Services)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.PriceMinutes</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@(isRu ? "Редактировать" : "Edit")</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@(isRu ? "Подробнее" : "Details")</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@(isRu ? "Удалить" : "Delete")</a>
            </td>
        </tr>
    }
    </tbody>
</table>

