@page
@model InternetClub.RazorPages.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Детали клиента";
}

<h1>Детали клиента</h1>

<dl class="row">
    <dt class="col-sm-3">Фамилия</dt>
    <dd class="col-sm-9">@Model.Client.LastName</dd>

    <dt class="col-sm-3">Имя</dt>
    <dd class="col-sm-9">@Model.Client.FirstName</dd>

    <dt class="col-sm-3">Телефон</dt>
    <dd class="col-sm-9">@Model.Client.Phone</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Client.Email</dd>

    <dt class="col-sm-3">Дата регистрации</dt>
    <dd class="col-sm-9">@DateInt.Format(Model.Client.RegistrationDate)</dd>

    <dt class="col-sm-3">Баланс</dt>
    <dd class="col-sm-9">@Model.Client.Balance</dd>
</dl>

<div class="mb-3">
    <a asp-page="./Edit" asp-route-id="@Model.Client.Id" class="btn btn-primary">Редактировать</a>
    <a asp-page="./Index" class="btn btn-secondary">Назад</a>
</div>