@page
@model InternetClub.RazorPages.Pages.Clients.IndexModel

@{
    var isRu = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru";
    ViewData["Title"] = isRu ? "Клиенты" : "Clients";
}

<h1>@(isRu ? "Клиенты" : "Clients")</h1>

<p>
    <a asp-page="Create">@(isRu ? "Добавить" : "Create")</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>@(isRu ? "Фамилия" : "Last name")</th>
        <th>@(isRu ? "Имя" : "First name")</th>
        <th>@(isRu ? "Телефон" : "Phone")</th>
        <th>Email</th>
        <th>@(isRu ? "Дата" : "Date")</th>
        <th>@(isRu ? "Баланс" : "Balance")</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Clients)
    {
        <tr>
            <td>@Html.DisplayFor(_ => item.LastName)</td>
            <td>@Html.DisplayFor(_ => item.FirstName)</td>
            <td>@Html.DisplayFor(_ => item.Phone)</td>
            <td>@Html.DisplayFor(_ => item.Email)</td>
            <td>@item.RegistrationDate.ToString("dd.MM.yyyy")</td>
            <td>@Html.DisplayFor(_ => item.Balance)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@(isRu ? "Редактировать" : "Edit")</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@(isRu ? "Подробнее" : "Details")</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@(isRu ? "Удалить" : "Delete")</a>
            </td>
        </tr>
    }
    </tbody>
</table>