@page
@model InternetClub.RazorPages.Pages.Stuff.IndexModel

@{
    var isRu = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru";
    ViewData["Title"] = isRu ? "Сотрудники" : "Staff";
}

<h1>@(isRu ? "Сотрудники" : "Staff")</h1>

<p>
    <a asp-page="Create">@(isRu ? "Добавить" : "Create")</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>@(isRu ? "ФИО" : "Full name")</th>
        <th>@(isRu ? "Табельный номер" : "Employee No.")</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.StuffList)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Enum</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@(isRu ? "Редактировать" : "Edit")</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@(isRu ? "Подробнее" : "Details")</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@(isRu ? "Удалить" : "Delete")</a>
            </td>
        </tr>
    }
    </tbody>
</table>

